@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0 10rem 0 10rem;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 40px;
  margin-top: 20px;
}

span {
  color: red;
}

.main-table {
  width: 900px;
  margin: 0 auto;
}

p.mesport {
  text-align: center;
}

.girl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

.league {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

table,
th,
td {
  border-collapse: collapse;
}

table {
  margin-top: 10px;
  width: 100%;
  border: 3px solid #000;
}

th {
  font-weight: bold;
  border: 1px solid #000;
}

td {
  border: 1px solid #000;
}

table tr td:nth-child(2) {
  width: 400px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
